<!DOCTYPE html>
<html>
<head>
  <title>Compas</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <script src="js/vendor/custom.modernizr.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=BenchNine' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
</head>
<body>


<header>
  <div class="row">
    <div class="pull-0.5 large-12 columns">
      <div >
        <%= link_to image_tag("compass.png", :alt => "logo"), events_path %>
        <h1><%= link_to "COMPAS", events_path %></h1>
      </div>

      <%= search_form_for @q do |f| %>
          <%= f.text_field :name_cont, :placeholder => 'search for campus events...'  %>
          <%= f.submit '    ',:class => 'search_button'%>
      <% end %>

      <nav>
        <ul>
          <li><%=link_to 'about', page_path('about'), :class=> 'header_link'%></li>
          <li>\\</li>
          <li><%=link_to 'events', events_path, :class=> 'header_link' %></li>
          <li>\\</li>
          <li><%=link_to 'organizations', organizations_path, :class=> 'header_link' %></li>
          <li>\\</li>
          <% if session[:user_id] %>
              <% user = User.find(session[:user_id]) %>
              <li><%= link_to user.first_name, user, :class=>'header_link' %></li> <li>-</li>
              <li><%= link_to 'logout', :controller => 'auth', :action => 'logout',:class=> 'header_link'  %></li>
          <% else %>
              <li><%= link_to 'login', :controller => 'auth', :action => 'login',:class=> 'header_link'  %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>

</header>

<div class="row">
  <div class="large-12 columns">
    <% if flash[:notice] %>
      <div data-alert class="alert-box">
        <%= flash[:notice] %>
      </div>
    <% end %>
  </div>
</div>


<%= yield %>


<footer>
  <div class="row">
    <div class="large-5 large-centered columns">
      <ul>
        <li><a href="#">compas</a></li>
            <li>•</li>
        <li><a href="#">facebook</a></li>
            <li>•</li>
        <li><a href="#">twitter</a></li>
            <li>•</li>
        <li><a href="#">instagram</a></li>
      </ul>
    </div>
  </div>
</footer>


</body>
</html>
